---
layout: page
title: Blog
excerpt: "An archive of blog posts sorted by date."
search_omit: true
---

<ul class="post-list">
{% for post in paginator.posts %} 
  <li>
  	<article>
  		<a href="{{ site.url }}{{ post.url }}">
  			{{ post.title }} 
  			<span class="entry-date">
  				<time datetime="{{ post.date | date_to_xmlschema }}">
  					{{ post.date | date: "%B %d, %Y" }}
  				</time>
  			</span>
  			{% if post.excerpt %} 
  			<span class="excerpt">
  				{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once | truncate:150 }}
  			</span>
  			{% endif %}
  		</a>
  	</article>
  </li>
{% endfor %}
</ul>

<p>&nbsp;</p>

{% if paginator.total_pages > 1 %}
  {% if paginator.previous_page %}
    {% if paginator.previous_page > 1 %}
      <a href="{{ site.url }}/blog">
        <li class="newer">
          << Newest Posts
        </li>
      </a>
    {% endif %}
    <a href="{{ paginator.previous_page_path }}">
      <li class="newer">
        < Newer Posts
      </li>
    </a>
  {% endif %}

  <span></span>

  {% if paginator.next_page %}
    {% if paginator.next_page < paginator.total_pages %}
      <a href="{{ site.url }}/blog/{{ paginator.total_pages }}">
        <li class="older">
          Oldest Posts >>
        </li>
      </a>
    {% endif %}
    <a href="{{ paginator.next_page_path }}">
      <li class="older">
        Older Posts >
      </li>
    </a>
  {% endif %}
{% endif %}