<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="post">

<div id="latex-commands" class="latex-commands">
  {% include latex-commands.md %}
</div>
{% include navigation.html %}

<div id="main" role="main">
  <article class="hentry">
    {% if page.image.path %}<img src="{{ site.url }}/images/{{ page.image.path }}" class="entry-feature-image" alt="{{ page.title }}" {% if site.logo == null %}style="margin-top:0;"{% endif %}>{% if page.image.credit %}<p class="image-credit">Image credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></p>{% endif %}{% endif %}
    <div class="entry-wrapper">
      <header class="entry-header">
        <ul class="entry-tags">
          {% for tag in page.tags %}<li><a href="{{ site.url }}/tags/#{{ tag }}" title="Pages tagged {{ tag }}">{{ tag }}</a></li>{% endfor %}
        </ul>
        {% if page.link %}
          <h1 class="entry-title"><a href="{{ page.link }}">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %} <span class="link-arrow">&rarr;</span></a></h1>
        {% else %}
          <h1 class="entry-title">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %}</h1>
        {% endif %}
      </header>
      <footer class="entry-meta">
        {% if page.author %}
          {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
        {% endif %}
        {% if author.avatar contains 'http' %}
          <img src="{{ author.avatar }}" class="bio-photo" alt="{{ author.name }} bio photo"></a>
        {% elsif author.avatar %}
          <img src="{{ site.url }}/images/{{ author.avatar }}" class="bio-photo" alt="{{ author.name }} bio photo"></a>
        {% endif %}
        <span class="author vcard">By <span class="fn">{{ author.name }}</span></span>
        <span class="entry-date date published"><time datetime="{{ page.date | date_to_xmlschema }}"><i class="fa fa-calendar-o"></i> {{ page.date | date: "%B %d, %Y" }}</time></span>
        {% if page.modified %}<span class="entry-date date modified"><time datetime="{{ page.modified }}"><i class="fa fa-pencil"></i> {{ page.modified | date: "%B %d, %Y" }}</time></span>{% endif %}
        {% if (site.owner.disqus-shortname and page.comments) or site.comments %}<span class="entry-comments"><i class="fa fa-comment-o"></i> <a href="#disqus_thread">Comment</a></span>{% endif %}
        {% unless page.hidden %}{% include social-share.html %}{% endunless %}
        {% if page.ads == true %}{% include ad-sidebar.html %}<!-- /.google-ads -->{% endif %}
      </footer>
      <div class="entry-content">
        {% if page.hidden %}
          <center>
            <b style="font-size: 18pt">
              If you're somehow seeing this right now, look away. It's not finished, and I'm not sure when/if it will be.
            </b>
          </center>
        {% endif %}
        {{ content }}

        <div class="related-header">
          <b>You may also like...</b>
        </div>
        <ul class="related-list" id="rellist"></ul>
        {% if (site.owner.disqus-shortname and page.comments) or site.comments %}
          <div id="disqus_thread"></div><!-- /#disqus_thread -->
          {% include disqus-comments.html %}
        {% endif %}
      </div><!-- /.entry-content -->
    </div><!-- /.entry-wrapper -->
    <nav class="pagination" role="navigation">
      {% if page.previous %}
        <a href="{{ site.url }}{{ page.previous.url }}" class="btn" title="{{ page.previous.title }}">Previous</a>
      {% endif %}
      {% if page.next %}
        <a href="{{ site.url }}{{ page.next.url }}" class="btn" title="{{ page.next.title }}">Next</a>
      {% endif %}
    </nav><!-- /.pagination -->
  </article>
</div><!-- /#main -->

<div class="footer-wrapper">
  <footer role="contentinfo" class="entry-wrapper">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}
<script type="text/javascript">
    function displayRelatedPosts() {
        $.getJSON("/related.json", function (posts) {
            var list = $("#rellist");

            const MAX_NUM_REL = 4;

            const TAG_SCORE = 1;
            const SERIES_SCORE = 5;
            const FAV_SCORE = 0.01;

            var self = posts[0]; // There's at least one post on this site
            for (var i = 0; i < posts.length; i++) {
                if (posts[i].url == "{{ page.url }}") {
                    self = posts[i];
                    break;
                }
            }

            var scored_posts = [];
            for (var i = 0; i < posts.length; i++) {
                if (posts[i] == self) continue;
                if (posts[i].hidden) continue;
                
                var score = posts[i].series ? SERIES_SCORE * (posts[i].series == self.series) : 0;
                
                const common_tags = posts[i].tags.filter(tag => self.tags.includes(tag));
                score += TAG_SCORE * common_tags.length;
                
                score += FAV_SCORE * (posts[i].favorite == "true");
                score -= FAV_SCORE * (posts[i].favorite == "false");

                scored_posts.push([posts[i], score]);
            }
            //console.log(scored_posts);
            scored_posts.sort((lhs, rhs) => rhs[1] - lhs[1])

            for (var i = 0; i < Math.min(MAX_NUM_REL, scored_posts.length); i++) {
                var post = scored_posts[i][0];
                list.append(
                    `<li>
                        <div class="related-entry">
                          <a href="{{ site.url }}/${post.url}" class>
                            ${post.title}
                          </a>
                          <span class="date">${post.date}</span>
                        </div>
                     </li>
                    `
                )
            }

        });
    }

    $(document).ready(() => displayRelatedPosts());
</script>

</body>
</html>
