---
layout: page
title: Articles
excerpt: "Collection of links to external papers and stuff"
search_omit: true
---

<script type="text/javascript">
	function displayRandomArticles() {
		$.getJSON("/articles.json", function (articles) {
			var list = $("#artlist");

			var usedIndices = [];
			var numPosts = articles.length;

			var size = Math.min(numPosts, 4);

			var count = 0;
			while (count < size) {
				var index = Math.floor(Math.random() * numPosts);
				if (usedIndices.indexOf(index) != -1) continue;

				var article = articles[index];
				list.append(
					`<li>
						<article>
							<a href="${article.link}">
								<div>
									<div class="title">${article.title}</div>
									${article.author ?
										`<span class="author">By: ${article.author}</span>` :
										''
									}
								</div>

								<span class="description">${article.description}</span>
							</a>
						</article>
					</li>
					<br>`
				)

				count++;
				usedIndices.push(index);
			}
		})
	}

	$(document).ready(() => displayRandomArticles());
</script>

<div style="font-size:20px; text-align:center">
Sometimes I come across interesting articles or books or whatever that I read once, enjoy, and then forget all about. This is a place for me to start collecting some of those, so I can return to their material from time to time.<br>
<div style="font-weight:600">Note: this page will only ever show 4 at a time. Refresh to see others.</div>
</div>
<br>

<ul class="article-list" id="artlist">
<!--
{% assign articles = site.categories.articles | sample:3 %}
{% for article in articles %}	
	<li>
		<article>
			<a href="{{ article.link }}">
				<div>
					<div class="title">{{ article.title }}</div>
					{% if article.author %}
						<span class="author">By: {{ article.author }}</span>
					{% endif %}
				</div>
				<span class="description">{{ article.description }}</span>
			</a>
		</article>
	</li
>	<br>
{% endfor %}
-->
</ul>
<div class="entry-content">
	{% if (site.owner.disqus-shortname and page.comments) or site.comments %}
	  <div id="disqus_thread"></div><!-- /#disqus_thread -->
	  {% include disqus-comments.html %}
	{% endif %}
</div>